* {
    cursor: url("/public/images/mouse.png");
    height: 100px;
}
html {
    font-family: sans-serif;
    box-sizing: border-box;
}
body {
    font-family: "Quicksand";
    display: flex;
    flex-flow: row;
    justify-content: center;
}
footer {
    background-color: #151e1e;
    clear: both;
    text-align: right;
}
footer a {
    margin-top: 100px;
    text-align: right;
}
footer a:link {
    text-decoration: none;
}
footer a:visited {
    text-decoration: none;
}
header {
    background-color: #151e1e;
    padding: 30px;
    margin: auto;
    display: flex;
    flex-flow: row;
    font-family: "WindSong";
    color: white;
    text-align: right;

}
header h1 {
    flex-direction: column;
    margin-left: 1em;
    
    font-size: 3.0em;
}
#wrapper {
    background-color: white;
    padding: 0px 500px 0px 500px;
    margin: auto;
    box-sizing: border-box;
}