* {
    cursor: url("/public/images/mouse.png");
    height: 100px;
}
html {
    font-family: "Quicksand", sans-serif;
}
header {
    background-color: #151e1e;

}
#wrapper {
    background-color: white;
}
