* {
    cursor: url("/public/images/mouse.png");
    height: 100px;
}
html {
    font-family: sans-serif;
}
header {
    background-color: #151e1e;
    display: flex;
    padding: 20px 20px 20px 20px;
    font-family: "WindSong";
    color: white;

}
header h1 {
    margin-left: 1000px;
}
#wrapper {
    background-color: white;
    width: auto;
    padding: 0px 500px 0px 500px;
    box-sizing: border-box;
}
